.header
{
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.37)),url("./back.png");
  background-size: cover;
  background-position: center;
  position: relative;

}
.budge
{
  position: absolute;
  width: 370px;
  height: 250px;
  left: 38%;
  top: 14%;
  color: #fffffff0;
}
.budge-title
{
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.budge-number
{
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.budge-income
{
  width: 350px;
  height: 50px;
  background-color: rgb(28, 162, 149);
  border: 1px solid  rgb(28, 162, 149);
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}
.budge-expenses
{
  width: 350px;
  height: 50px;
  background-color: rgb(239, 65, 65);
  border: 1px solid  rgb(239, 65, 65);
  margin-left: 10px;
  float: left;
}
.budge-income-value
{
  padding: 14px;
  font-size: 13px;
  color: #474747;
  float: left;
}
.budge-expenses-value
{
  padding: 14px;
  font-size: 13px;
  color: #474747;
  float: left;
}
.budge-income-right
{
  float: right;
}
.budge-num
{
  padding: 11px;
  float: left;
  font-size: 18px;

}
.budge-percen
{
  width: 35px;
  background-color: rgba(221, 221, 221, 0.466);
  border-radius: 3px;
  float: left;
  text-align: center;
  font-size: 10px;
  padding: 3px 0px;
  margin: 14px 14px 14px 0px;
}
.budge-navbar
{
  background-color: #f7f7f7;
  padding: 15px;
  box-shadow: 0px -1px 7px 0px;
}
.budge-add
{
  text-align: center;
}
.budge-select
{
    width: 50px;
    height: 48px;
    border: 1px solid #dcdcdc;
    font-size: 20px;
    padding: 0px 0px 8px 1px;
    border-radius: 5px;
    margin-right: 10px;
}
.budge-select:focus
{
  border: 1px solid #1ca295;
  outline: none;
  transition: border 0.3s;
}
.add-list
{
    width: 450px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px 10px 14px 10px;
    margin-right: 10px;
    font-size: 15px;
}
.add-list:focus
{
  border: 1px solid #1ca295;
  outline: none;
  transition: border 0.3s;
}
.value-list
{
  border: 1px solid #dcdcdc;
  width: 100px;
  padding: 10px 10px 14px 12px;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
}
.value-list:focus
{
  border: 1px solid #1ca295;
  outline: none;
  transition: border 0.3s;
}
.btn-check
{
  background: none;
  border: none;
}
.btn-check i
{
    font-size: 35px;
    color: #1ca295;
    vertical-align: middle;
    font-weight: 100;
    cursor: pointer;
}
.btn-check:focus
{
  outline: none;
}
.budge-show-list
{
  width: 1100px;
  margin: 65px auto;
}
.content-income-list
{
  float: left;
  width: 500px;
  margin-right: 25px;
}
.content-income-list h2
{
  font-size: 18px;
  color: #1ca295;
  font-weight: 400;
}
.content-expenses-list
{
  float: left;
  width: 500px;
}
.content-expenses-list h2
{
  font-size: 18px;
  color: #ef4141;
  font-weight: 400;

}
.focused:focus
{
  border: 1px solid red !important;
}